//Colors
//Primary
$primaryCyan: hsl(179, 62%, 43%);
$primaryYellow: hsl(71, 73%, 54%);

//Neutral
$neutralLightGray: hsl(204, 43%, 93%);
$neutralGrayishBlue: hsl(218, 22%, 67%);
$neutralLightBlue: #9df0f5;

//Fonts
//Size
$baseFontSize: 16px;

//Family
@mixin baseFont {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  // font-size: 16px;
}

@mixin boldFont {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
